.popupСontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupClose {
  position: absolute;
  top: 60px;
  right: 40px;
}

.popupImg {
  max-width: 120px;
  max-height: 120px;
}
