.card {
  position: relative;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.cardContent {
  display: 'flex';
  flex-direction: column;
  align-items: end;
}

.cardPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cardTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 272px;
}
