.ingredientsContainer {
  min-height: 80px;
  max-height: 464px;
  overflow-y: scroll;
  margin-bottom: 16px;
}

.ingredientsContainer::-webkit-scrollbar {
  width: 8px;
}

.ingredientsContainer::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredientsContainer::-webkit-scrollbar-track {
  background: #2f2f37;
}

.dragging {
  transition: transform 0.2s ease, opacity 0.2s ease;
}
