.resetPasswordContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resetPasswordWrapper {
  max-width: 480px;
  max-height: 430px;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
