.orderStatus {
  display: flex;
  gap: 24px;
}

.readyOrdersList {
  margin-right: 20px;
}

.readyOrders,
.inProgressOrders {
  flex: 1;
}

.readyOrdersList,
.inProgressOrdersList {
  padding: 0px;
}

.readyOrdersList li:not(:last-child),
.inProgressOrdersList li:not(:last-child) {
  padding-bottom: 8px;
}

.orderIdDone {
  list-style: none;
  color: #00cccc;
}

.orderIdPending {
  list-style: none;
  color: white;
}

.orderColumns {
  display: flex;
}
