body {
  margin: 0;
  font-family: 'JetBrainsMono', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-secondary: #8585ad;
  ---text-default: #f2f2f3;
}

html {
  scrollbar-color: auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
