.container {
  max-width: 600px;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.ingredientsContainer {
  height: 716px;
  overflow-y: auto;
}

.ingredientsContainer::-webkit-scrollbar {
  width: 8px;
}

.ingredientsContainer::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredientsContainer::-webkit-scrollbar-track {
  background: #2f2f37;
}
